.btn {
	&--link {
		width: 120px;
		height: 34px;
		background-color: #fff;
		border: 1px solid $greyish;
		border-radius: 17px;
		box-shadow: $shadow;
		overflow: hidden;
		margin: 0 auto;

		@include atFull {
			width: 150px;
			height: 42px;
			border-radius: 21px;
		}

		& > a {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__icon {
			width: 20px;
			height: 20px;
			background-image: url('../images/icons/icon-pin-sm.svg');
			background-size: cover;
			transform: translateY(-2px) translateX(-4px);

			@include atFull {
				width: 24px;
				height: 24px;
				transform: translateY(-3px) translateX(-6px);
			}
		}

		&__text {
			font-size: 12px;
			font-weight: bold;

			@include atFull {
				font-size: 1rem;
				transform: translateY(1px);
			}
		}
	}

	&--guide {
		width: 56px;
		height: 56px;
		border-radius: 10px;
		background-color: #fff;
		color: $tomato-red;
		box-shadow: $shadow;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include atFull {
			width: 70px;
			height: 70px;
		}

		&.active {
			background-color: $tomato-red;
			color: #fff;
		}

		&__icon {
			display: block;
			width: 24px;
			height: 24px;
			background-image: url('../images/icons/icon-alert.svg');
			background-size: cover;

			@include atFull {
				width: 32px;
				height: 32px;
			}

			&.active {
				background-image: url('../images/icons/icon-alert-white.svg');
			}
		}

		&__text {
			font-size: 10px;
			font-weight: 500;
			margin-top: 6px;
		}
	}
}
