.cctv {
	&__select {
		display: flex;
		position: fixed;
		top: 64px;
		z-index: 10;

		@include atTablet {
			top: 92px;
		}

		select {
			color: $brownish-grey;
		}

		input {
			flex: 1 0 84px;
			border-radius: 4px;
			background-color: $greyish-brown;
			color: #fff;
			margin-left: 1rem;
			font-weight: bold;

			&.active {
				background-color: $tomato-red;
			}
			@include atTablet {
				margin-left: 2rem;
			}
		}
	}

	.map {
		&--1,
		&--2 {
			display: none;

			&.active {
				display: block;
			}
		}

		&__pins {
			& > div {
				z-index: 10;
			}

			.cctv1 {
				top: 73%;
				left: 44%;

				@include atFull {
					top: 74%;
					left: 49%;
				}
			}

			.cctv2 {
				top: 64%;
				left: 80%;

				@include atFull {
					top: 66%;
					left: 75%;
				}
			}

			.cctv3 {
				top: 57%;
				left: 71%;

				@include atFull {
					top: 57%;
					left: 68%;
				}
			}

			.cctv4 {
				top: 43%;
				left: 54%;

				@include atFull {
					top: 43.5%;
					left: 57%;
				}
			}

			.cctv5 {
				top: 42%;
				left: 87%;

				@include atFull {
					top: 41%;
					left: 80%;
				}
			}

			.mylocation {
				top: 70%;
				left: 72%;

				@include atFull {
					top: 70%;
					left: 70%;
				}
			}
		}

		&__modal {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			@include atFull {
				display: block;
				position: fixed;
				top: 112px;
				left: var(--layout-margin);
			}

			@include atTablet {
				top: 176px;
			}

			& > div {
				width: 313px;
				height: 236px;
				padding: 16px;
				border-radius: 24px;
				background-color: #fff;
				box-shadow: $shadow;
				display: none;
				flex-direction: column;
				justify-content: space-between;
				position: relative;
				z-index: 20;

				@include atTablet {
					width: 448px;
					height: 333px;
					padding: 22px;
				}

				&.active {
					display: flex;
				}
			}

			button {
				position: absolute;
				right: 18px;
				top: 24px;

				@include atTablet {
					right: 28px;
					top: 32px;
				}
			}

			p {
				margin-top: 10px;
				font-size: 16px;

				@include atTablet {
					font-size: 23px;
				}
			}

			video {
				width: 281px;
				height: 158px;

				@include atTablet {
					width: 404px;
					height: 228px;
				}
			}
		}
	}
}
