.m32 {
	.mobile__shelter {
		.shelter1 {
			top: 53%;
			left: 81%;
		}

		.shelter2 {
			top: 55%;
			left: 58%;
		}

		.mylocation {
			top: 82%;
			left: 16%;
		}
	}

	.tablet__shelter {
		.shelter1 {
			top: 56%;
			left: 72%;
		}

		.shelter2 {
			top: 55%;
			left: 50%;
		}

		.mylocation {
			top: 76%;
			left: 12.5%;
		}
	}
}
