.m08 {
	.mobile__shelter {
		.shelter1 {
			top: 62%;
			left: 33%;
		}

		.shelter2 {
			top: 31%;
			left: 21%;
		}

		.shelter3 {
			top: 22%;
			left: 63%;
		}

		.mylocation {
			top: 37%;
			left: 44%;
		}
	}

	.tablet__shelter {
		.shelter1 {
			top: 55%;
			left: 33%;
		}

		.shelter2 {
			top: 31%;
			left: 25%;
		}

		.shelter3 {
			top: 18%;
			left: 63%;
		}

		.mylocation {
			top: 33%;
			left: 44%;
		}
	}
}
