.m14 {
	.mobile__shelter {
		.shelter1 {
			top: 59%;
			left: 68.5%;
		}

		.shelter2 {
			top: 42%;
			left: 38%;
		}

		.mylocation {
			top: 38%;
			left: 53%;
		}
	}

	.tablet__shelter {
		.shelter1 {
			top: 55%;
			left: 33%;
		}

		.shelter2 {
			top: 31%;
			left: 25%;
		}

		.mylocation {
			top: 33%;
			left: 44%;
		}
	}
}
