.m20 {
	.mobile__shelter {
		.shelter1 {
			top: 13%;
			left: 73%;
		}

		.shelter2 {
			top: 68%;
			left: 82%;
		}

		.shelter3 {
			top: 84%;
			left: 69%;
		}

		.mylocation {
			top: 27%;
			left: 41%;
		}
	}

	.tablet__shelter {
		.shelter1 {
			top: 26%;
			left: 70%;
		}

		.shelter2 {
			top: 67%;
			left: 81%;
		}

		.shelter3 {
			top: 82%;
			left: 65%;
		}

		.mylocation {
			top: 34%;
			left: 40%;
		}
	}
}
