.guide-page {
	.guide {
		background-color: #fff;
		border-radius: 24px;
		box-shadow: $shadow;
		padding: 28px 20px 32px;
		display: none;

		@include atFull {
			padding: 34px 20px 40px;
		}

		&.active {
			display: block;
		}

		&__content {
			line-height: 1.5;
		}
	}

	.btn--guide {
		position: fixed;
		bottom: calc(13px + var(--nav-height));
		right: var(--layout-margin);

		@include atFull {
			bottom: calc(2rem + var(--nav-height));
		}
	}
}
