header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid $warm-grey;
	z-index: 100;

	.container {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.menu {
		width: 24px;
		height: 24px;
		background-image: url('../images/icons/icon-menu.svg');
		background-size: cover;

		@include atTablet {
			width: 40px;
			height: 40px;
			transform: translateY(-1px);
		}
	}

	.logo {
		display: flex;
		align-items: center;
		color: $warm-grey;
		font-weight: 600;
		font-size: 1rem;

		@include atTablet {
			font-size: 22px;
		}

		img {
			width: 24px;
			height: 24px;
			margin-right: 6px;

			@include atTablet {
				width: 32px;
				height: 32px;
			}
		}

		a {
			transform: translateY(1px);
		}
	}

	.setting {
		width: 24px;
		height: 24px;
		background-image: url('../images/icons/icon-setting.svg');
		background-size: cover;

		@include atTablet {
			width: 40px;
			height: 40px;
		}

		& > a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
