header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid $warm-grey;

	.container {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.menu {
		width: 24px;
		height: 24px;
		background-image: url('../images/icons/icon-menu.svg');
		background-size: cover;
	}

	.logo {
		display: flex;
		align-items: center;
		color: $warm-grey;
		font-weight: 700;
		font-size: 1rem;

		img {
			width: 24px;
			height: 24px;
			margin-right: 6px;
		}

		p {
			transform: translateY(1px);
		}
	}

	.setting {
		width: 24px;
		height: 24px;
		background-image: url('../images/icons/icon-setting.svg');
		background-size: cover;
	}
}
