.m24 {
	.info {
		&__map {
			@include atFull {
				aspect-ratio: 586 / 608;
				flex: 0 63.4%;
			}
		}

		&__detail {
			display: none;

			@include atFull {
				display: block;
			}
		}

		&__etc--degree {
			margin-top: 30px;

			@include atTablet {
				margin-top: 64px;
			}
		}

		&__etc--degree h3 {
			margin-bottom: 8px;
			font-size: 16px;
			font-weight: 500;
			color: $brownish-grey;

			@include atFull {
				display: none;
			}
		}
	}
}
