.bullet-list {
	line-height: 1.5;

	li {
		display: flex;
		align-items: center;
		color: $warm-grey;
	}

	@include atTablet {
		line-height: 1.85;
	}

	li:before {
		content: '';
		display: inline-block;
		width: 4px;
		height: 12px;
		background-color: $warm-grey;
		margin-right: 6px;

		@include atTablet {
			width: 7px;
			height: 19px;
			margin-right: 12px;
		}
	}
}

.gray-list {
	color: $warm-grey;

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 45px;
		background-color: #ececec;
		padding-left: 15px;
		padding-right: 10px;

		margin-bottom: 2px;

		@include atTablet {
			height: 54px;
			padding-left: 23px;
			padding-right: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.t-500 {
		color: $brownish-grey;
	}
}
