main {
	position: relative;
	margin-top: var(--header-height);
	margin-bottom: var(--nav-height);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 642px;

	@include atFull {
		min-height: 587px;
	}

	@include atTablet {
		min-height: 1180px;
	}
}
