.map {
	position: relative;
	width: 100%;
	height: calc(100vh - var(--header-height) - var(--nav-height));

	&__bg,
	&__distance {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__pin {
		position: absolute;
	}
}

.top {
	width: 100%;
	position: absolute;
	top: 1rem;

	@include atFull {
		width: 388px;
		right: var(--layout-margin);

		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.bottom {
	display: flex;
	width: 100%;
	justify-content: center;
	position: fixed;
	bottom: calc(24px + var(--nav-height));

	@include atFull {
		bottom: calc(34px + var(--nav-height));
	}
}

.m05 {
	.map__pin {
		width: 40px;
		height: 40px;
		top: 45%;
		left: 10%;
	}
}
