nav {
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;

	background-color: #fff;
	border-top: 1px solid $warm-grey;
}

.nav {
	display: flex;
	justify-content: space-between;

	@include atFull {
		padding: 0 100px;
	}

	li {
		font-size: 10px;
		font-weight: 500;
		color: $greyish;

		@include atTablet {
			font-size: 12px;
		}

		&.active {
			color: $tomato-red;

			.nav-icon--info {
				background-image: url('../images/icons/icon-info-dark.svg');
			}

			.nav-icon--news {
				background-image: url('../images/icons/icon-video-dark.svg');
			}

			.nav-icon--guide {
				background-image: url('../images/icons/icon-exit-dark.svg');
			}

			.nav-icon--cctv {
				background-image: url('../images/icons/icon-camera-dark.svg');
			}

			.nav-icon--detour {
				background-image: url('../images/icons/icon-direction-dark.svg');
			}

			.nav-icon--tipoff {
				background-image: url('../images/icons/icon-write-dark.svg');
			}
		}
	}

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav-icon {
		width: 28px;
		height: 28px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@include atTablet {
			width: 40px;
			height: 40px;
		}

		&--info {
			background-image: url('../images/icons/icon-info.svg');
		}

		&--news {
			background-image: url('../images/icons/icon-video.svg');
		}

		&--guide {
			background-image: url('../images/icons/icon-exit.svg');
		}

		&--cctv {
			background-image: url('../images/icons/icon-camera.svg');
		}

		&--detour {
			background-image: url('../images/icons/icon-direction.svg');
		}

		&--tipoff {
			background-image: url('../images/icons/icon-write.svg');
		}
	}
}
