.news {
	width: 100%;
	background-color: #000;
	overflow: hidden;

	main {
		width: 100%;
		height: calc(var(--vh, 1vh) * 100 - var(--header-height) - var(--nav-height));
		// width: 345px;
		// height: 642px;

		// @include atFull {
		// 	width: 691px;
		// 	height: 550px;
		// }
		// @include atTablet {
		// 	width: 924px;
		// 	height: 1180px;
		// }
	}
	.news-video {
		width: 100%;
		aspect-ratio: 16 / 9;
		background-color: #000;
		overflow: hidden;
		position: relative;
		flex-shrink: 0;

		video {
			width: 100%;
		}
	}

	.chat {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;

		&__top {
			& > .container {
				height: 100%;
				display: flex;
				align-items: center;
			}
		}

		.btn--fullscreen {
			display: block;
		}

		.btn--closechat {
			display: none;
		}

		&__bottom {
			background-color: #ececec;
			height: 416px;
			overflow-y: scroll;

			@include atFull {
				height: 130px;
			}

			@include atTablet {
				height: 616px;
			}

			ul {
				padding-top: 20px;
				padding-bottom: 60px;

				@include atTablet {
					padding-bottom: 80px;
				}
			}
		}

		&__input {
			position: fixed;
			bottom: 72px;
			right: var(--layout-margin);
			width: calc(100% - var(--layout-margin) * 2);

			@include atTablet {
				bottom: 104px;
			}
		}
	}
}
