h1 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
	font-weight: 500;
	color: $brownish-grey;
}

.t-point {
	font-family: 'S Core Dream', sans-serif;
}

.t-bold {
	font-weight: bold;
}

.t-500 {
	font-weight: 500;
}

.t-center {
	text-align: center;
}

.t-xl {
	font-size: 24px;
}

.t-lg {
	font-size: 20px;

	@include atFull {
		font-size: 25px;
	}
}

.t-md {
	font-size: 1rem;

	@include atFull {
		font-size: 20px;
	}
}

.t-sm {
	font-size: 12px;

	@include atFull {
		font-size: 15px;
	}
}

.t-white {
	color: #fff;
}

.t-tomato {
	color: $tomato-red;
}

.t-brown {
	color: $greyish-brown;
}
