// font family
.t-point {
	font-family: 'S Core Dream', sans-serif;
}

// font weight
.t-bold {
	font-weight: bold;
}

.t-500 {
	font-weight: 500;
}

.t-center {
	text-align: center;
}

// font size
h1 {
	font-size: 24px;

	@include atTablet {
		font-size: 36px;
	}
}

p {
	font-size: 1rem;

	@include atTablet {
		font-size: 26px;
	}
}

.t-xl {
	font-size: 24px;
}

.t-lg {
	font-size: 20px;

	@include atTablet {
		font-size: 25px;
	}
}

.t-md {
	font-size: 1rem;

	@include atTablet {
		font-size: 20px;
	}
}

.t-sm {
	font-size: 12px;

	@include atTablet {
		font-size: 15px;
	}
}

.t-date {
	font-size: 12px;

	@include atTablet {
		font-size: 20px;
	}
}

.t-xs {
	font-size: 8px;

	@include atTablet {
		font-size: 12px;
	}
}

// font color
.t-white {
	color: #fff;
}

.t-tomato {
	color: $tomato-red;
}

.t-brown {
	color: $greyish-brown;
}
