$blood-red: #910004;
$tomato-red: #ff2300;
$black: #000;
$greyish-brown: #444;
$brownish-grey: #6d6d6d;
$warm-grey: #7f7f7f;
$greyish: #a9a9a9;
$pinkish-grey: #d1d1d1;
$white: #e3e3e3;
$shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

:root {
	--header-height: 3rem;
	--nav-height: 56px;
	--layout-margin: 1rem;
	--layout-max-width: 1318px;
	--wrapper-width: 345px;
	--wrapper-height: 642px;
}

@include atFull {
	:root {
		--layout-margin: 20px;
		--wrapper-width: 691px;
		--wrapper-height: 550px;
	}
}

@include atTablet {
	:root {
		--header-height: 60px;
		--nav-height: 72px;
		--layout-margin: 2rem;
		--wrapper-width: 924px;
		--wrapper-height: 1180px;
	}
}
